body,
html {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

:root {
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--main-color: black;
	--secondary-color: aquamarine;
}
